.flex-container .profile div {
    position: absolute;
    margin: auto;
    max-width: 100%;
    /* background-color: rgba(15, 15, 15, 0.103); */
}


#femi {
    margin-bottom: 2em;
    margin-left: -.39em;
}

#femi b {
    font-size: 3em;
    color: crimson;
}

.job_display_item div h4 b {
    font-size: 3em;
    color: crimson;
}



#phone {
    display: inline-block;
    font-weight: bold;
}

#mail2 {
    display: inline-block;
    /* background-color: rgba(0, 0, 255, 0.24); */
    font-weight: bold;

}

#title {
    display: inline-block;
    font-weight: bold;


}
